/*CSS RESET*/
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, dfn, em, img, ins, kbd, q, small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, footer, header, menu, nav, output, ruby, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
/*	line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET*/

/*AFTER RESET*/
body{
    font-size: 62.5%;
}
h1{
    font-size: 3.2em;
}
h2{
    font-size: 2.4em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 16px;
}
/*AFTER RESET*/

.w100{
    width: 100%;
}
.link{
    color: #00A3D8;
}
.link:hover{
    color: #007CA6;
    text-decoration: underline;
}
.clearfix:after{
    display: block;
    clear: both;
    content: " ";
}
.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*Body*/
body{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("img/CD1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/**/
.wrapper-col{

    width: 41.64497657470068%;
    margin-left: 10.41124414367517%;
    min-height: 100vh;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px;
}
header{
    height: 12.25806451612903%;
    width: 100%;
}
.logo-img{
    width: 15%;
    height: 100%;
    float: left;
}
.logo-img img{
    width: 100%;
    display: table;
    margin: 0 auto;
}
.logo-text{
    float: left;
    margin-left: 2%;
}
.logo-text p{
    font-family: "roboto-thin";
    font-size: 3vw;
    margin-top: 10%;
}
.menu{
    height: 05.55555555555556%;
    background-color: #15244F;
    margin-top: 01.85185185185185%;
    margin-bottom: 06.85185185185185%;
    float: left;
}
.menu ul{
    display: block;
    height: 100%;
    float: left;
}
.menu ul li{
    height: 100%;
    float: left;
    padding-right: 10%;
    transition: all .6s;
}
.menu ul li a{
    font-size: 1.1vw;
    font-family: "roboto-slab-regular";
    color: #DDDDDD;
    margin-left: 3px;
}
.menu ul li:hover {
    background-color: #ECECFB;
    overflow: hidden;
}
.menu ul li:hover a{
    color: #222222;
}
.menu nav{
    
    height: 100%;
    line-height: 4.8em;
    float: left;
}
.content-title{
    margin-bottom: 01.48148148148148%;
}
.content-title p{
    font-family: "caviar-dreams-bold";
    font-size: 1.26vw;
    text-transform: uppercase;
    color: #444444;
}
.content-text{
    margin-bottom: 01.85185185185185%;
}
.content-text p{
    font-family: "caviar-dreams";
    font-size: 16px;
    color: #444444;
}
.form-input input{
    outline: none;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #888888;
}
.form-input{
    margin-bottom: 2%;
}
.form-box{
    width: 100%;
    display: block;
    float: left;
}
.form-box label{
    font-family: "roboto-slab-bold";
    font-size: 1vw;
    color: #444;
    display: block;
}
.form-box input{
    width: 100%;
}
.half-size-form input{
    padding: 4% 2% 4% 4%;
    width: 80%;
}
.half-size-form label{
    font-family: "roboto-slab-bold";
    font-size: 1vw;
    color: #444;
    display: table;
}
.half-size-form{
    width: 50%;
    display: table;
    float: left;
    min-height: 2%;
}

/*BTN*/
.btn-ghost1{
    float: left;
    background-color: #fff;
    color: #444444;
    border: 1px solid #111111;
    width: 22.5%;
    height: 5vh;
/*    line-height: normal;*/
    outline: none;
    font-size: 0.8vw;
    font-family: "raleway-light";
    transition: all .5s;
}
.btn-ghost1:hover{
    background-color: #111111;
    color: #fff;
    cursor: pointer;
}
.btn-ghost1:active{
    background-color: #222;
    color: #aaa;
}
/*BTN*/